details > summary::-webkit-details-marker {
  display: none;
}
summary .icon-caret, .collection-toolbar svg {
  position: absolute;
  height: .6rem;
  right: 1.5rem;
  top: calc(50% - .35rem);
}    
.active-facets facet-remove:only-child{
  display: none;
}
.active-facets .active-facets__button-inner {
  min-height: 0;
  min-width: 0;
  padding: 0 10px;
}
.collection.loading .collection-product-count {
  visibility: hidden;
}
.collection--empty .title-wrapper {
  margin-top: 10rem;
  margin-bottom: 15rem;
}

.collection-filters {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 801px) {
  .collection-filters {
    display: block;
  }

  .collection-filters > * + * {
    margin-top: 0;    
  }
}

.collection-filters__label {
  display: block;
  color: var(--color-base-text-opacity-85-percent);
  font-size: 1.4rem;
  line-height: 1;
  margin: 0 0 1rem;
  width: 100%;
  font-weight: 600;
}

.collection-filters__summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.4rem;
  cursor: pointer;
  height: 4.5rem;
  padding: 0 1.5rem;
  min-width: 25rem;
  margin-top: 2.4rem;
  border: 0.1rem solid var(--color-base-text-opacity-55-percent);
}

.collection-filters__summary::after {
  position: static;
}

.collection-filters__item {
  display: flex;
  grid-column: 2;
  grid-row: 1;
}

.collection-filters__field {
  flex-grow: 1;
}

.collection-filters__item button {
  padding: 1.4rem 2.6rem;
  margin-left: 1rem;
}

.collection-filters__disclosure {
  min-width: 25rem;
}

.collection-filters__disclosure summary::after {
  top: 0;
}

.collection-filters__disclosure a {
  color: var(--color-foreground);
  cursor: pointer;
  display: block;
  padding: 1.2rem;
  text-transform: capitalize;
  text-decoration: none;
}
.collection-filters .collection-filters__sort{
  height: 43px;
  line-height: 41px;
  border: 1px solid rgba(26,27,24,0.75);
  padding: 0 20px 0 15px;
  appearance: none !important;
  width: 100%;
}
@media screen and (min-width: 801px) {
  .collection-filters .collection-filters__sort {
    width: 25rem;
    max-width: 100%;
  }
}

.facets {
  display: block;
}

.facets__form {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  gap: 0 2rem;
}

.js .facets__form {
  grid-template-columns: calc(100% - 27rem) 25rem;
}

.facets__wrapper {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  flex-wrap: wrap;
  margin-left: -0.5rem;
}

.facets__heading {
  display: block;
  color: var(--color-base-text-opacity-85-percent);
  font-size: 1.4rem;
  line-height: 1;
  margin: 0 0 1rem 0.5rem;
  width: 100%;
    font-weight: 600;
}

.facets__reset {
  margin-left: auto;
}

.facets__disclosure {
  border: 1px solid rgba(26,27,24,0.55);
  margin: 0 0 0.5rem 0.5rem;
  transition: box-shadow #ddd ease;
  height: 47px;
  line-height: 45px;
  position: relative;
}

.facets__disclosure:hover {
  box-shadow: 0 0 0 0.1rem rgba(26,27,24,0.55);
}

.facets__summary {
  padding: 0 30px 0 20px;
  height: 45px;
  line-height: 45px;
  font-size: 1.2rem;
  color: rgba(26,27,24,0.75);
  position: relative;
}

.facets__summary > span {
  line-height: 1.3;
}

.facets__display {
  background-color: #ffffff;
  position: absolute;
  border: 1px solid rgba(26,27,24,0.2);
  top: calc(100% + 5px);
  left: -0.1rem;
  width: 35rem;
  max-height: 55rem;
  overflow-y: auto;
  z-index: 1;
}

.facets__header {  
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1;
  position: relative;
}
.facets__header::after{
  height: 1px;
  width: 100%;
  background-color: rgba(0,0,0,0.1);
}
.facets__header .facets__reset{
  color: rgba(26,27,24,1);
  text-decoration: underline;
  text-underline-offset: 3px;
}
.facets__header .facets__reset:hover{
  color: #000;
}
.facets__header .facets__selected{
  line-height: 1.8em;
}
.facets__item {
  display: flex;
  align-items: center;
}

.facets__item label,
.facets__item input[type='checkbox'] {
  cursor: pointer;
}

.facet-checkbox {   
  padding: 0 15px 0 25px;
  flex-grow: 1;
  position: relative;
  font-size: 14px;
  display: flex;
  word-break: break-word;
  font-weight: 500;
  line-height: 2.5em;
  margin-bottom: 0 !important;
}

.facet-checkbox input[type='checkbox'] {
  position: absolute;
  opacity: 1;
  width: 1.6rem;
  height: 1.6rem;
  top: 0.7rem;
  left: 0.8rem;
  z-index: -1;
  appearance: none;
  -webkit-appearance: none;
}
input.mobile-facets__checkbox,
.mobile-facets__sort .select__select, .mobile-facets__sort .select__select:focus, .mobile-facets__sort .select__select:hover,
.collection-filters .collection-filters__sort,
.facet-checkbox input[type='checkbox']:focus{
  outline: none !important;  
  outline-offset: 0;
}

.facet-checkbox input[type=checkbox],
.facet-checkbox svg {
  background-color: #fff !important;
  margin-right: 1.2rem;
  flex-shrink: 0 !important;  
  position: absolute !important;
  left: 0;
  top: 50% !important;
  transform: translateY(-50%) !important;
}
.facet-checkbox svg {
  width: 15px !important;
  height: 15px !important;
}
.facet-checkbox input[type=checkbox]{
  width: 13px !important;
  height: 13px !important;
}
.facet-checkbox .icon-checkmark {
  visibility: hidden;   
  z-index: 5; 
  width: 13px !important;
  height: 13px !important;
  background-color: transparent !important;
  color: #333;
  fill: #333; 
     
  position: absolute;
  left: 3px;
  top: 8px;   
}

.facet-checkbox > input[type='checkbox']:checked ~ .icon-checkmark {
  visibility: visible;
}

.facet-checkbox--disabled {
  color: rgba(26,27,24,0.4);
}

.facets__price {
  display: flex;
  padding: 2rem;
}

.facets__price > * + * {
  margin-left: 2rem;
}
.mobile-facets__wrapper .field
.layout-sidebar .field {
    position: relative;
    width: 100%;
    display: flex;
}
.mobile-facets__wrapper .field .field__input
.layout-sidebar .field .field__input{
  padding: 0 0px 0 15px;
  flex: 1;
  font-size: 12px;
}
.facets__price .field {
  align-items: center;
  flex: 1;
  display: flex;
  flex-wrap: nowrap;    
  justify-content: flex-start;    
}
.facets__price .field .field__currency {
  margin-right: 0.6rem;
  font-size: 12px;
}
.facets__price .field .field__input::-webkit-input-placeholder { /* Edge */
  color: transparent;
}
.facets__price .field .field__input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: transparent;
}
.facets__price .field .field__input::placeholder {
  color: transparent;
}
@media screen and (max-width: 800px){
	.facets__price .field .field-currency{
    margin-right: 10px;
    font-size: 12px;
  }
}

.layout-sidebar .customer .field input:-webkit-autofill, 
.layout-sidebar .customer .field input:focus, 
.layout-sidebar .customer .field input:not(:placeholder-shown), 
.layout-sidebar .field__input:-webkit-autofill, 
.layout-sidebar .field__input:focus, 
.layout-sidebar .field__input:not(:placeholder-shown),
.mobile-facets__wrapper .customer .field input:-webkit-autofill, 
.mobile-facets__wrapper .customer .field input:focus, 
.mobile-facets__wrapper .customer .field input:not(:placeholder-shown), 
.mobile-facets__wrapper .field__input:-webkit-autofill, 
.mobile-facets__wrapper .field__input:focus, 
.mobile-facets__wrapper .field__input:not(:placeholder-shown){
  color: rgba(26,27,24,1);
}
.mobile-facets__wrapper .customer .field input:-webkit-autofill~label, 
.mobile-facets__wrapper .customer .field input:focus~label, 
.mobile-facets__wrapper .customer .field input:not(:placeholder-shown)~label, 
.mobile-facets__wrapper .field__input:-webkit-autofill~.field__label, 
.mobile-facets__wrapper .field__input:focus~.field__label, 
.mobile-facets__wrapper .field__input:not(:placeholder-shown)~.field__label, 
.layout-sidebar .customer .field input:-webkit-autofill~label, 
.layout-sidebar .customer .field input:focus~label, 
.layout-sidebar .customer .field input:not(:placeholder-shown)~label, 
.layout-sidebar .field__input:-webkit-autofill~.field__label, 
.layout-sidebar .field__input:focus~.field__label, 
.layout-sidebar .field__input:not(:placeholder-shown)~.field__label {
    font-size: 10px;
    top: 8px !important;
    letter-spacing: .04rem;
}

.layout-sidebar .customer .field label, 
.layout-sidebar .field__label,
.mobile-facets__wrapper .customer .field label, 
.mobile-facets__wrapper .field__label {
    font-size: 14px;
    left: 20px;
    top: 50%;
    margin-bottom: 0;
    pointer-events: none;
    position: absolute;
    transition: top #ddd ease,font-size #ddd ease;
    color: rgba(26,27,24,0.75);
    letter-spacing: .1rem;
    line-height: 1.5;
    font-weight: 500;
    transform: translateY(-50%);
}
.facets__price .field__label {
  left: 35px;
}
@media screen and (max-width: 800px){
  .facets__price{
    display: block;
    padding: 20px 30px;
  }
	.facets__price .field__label {
    left: 20px;
  }
}
@media screen and (max-width: 550px){
  .facets__price{    
    padding-left: 20px;
    padding-right: 20px;
  }
}
button.facets__button {
  min-height: 0;
  margin: 0 0 0 0.5rem;
  box-shadow: none;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
}

.active-facets {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-left: -1rem;
  grid-column: 1 / span 2;
  grid-row: 2;  
  margin-bottom: 10px;
}
.active-facets facet-remove{
  margin-bottom: 10px;
}
.active-facets facet-remove a{
  margin-bottom: 0;
}
a.active-facets__button {
  color: rgba(26,27,24,1);
  box-shadow: 0 0 0 0.1rem rgba(26,27,24,1);
  border-radius: 2.6rem;
  font-size: 1.2rem;
  min-height: 0;
  min-width: 0;
  padding: 0.5rem 1rem;
  margin: 0 0 1rem 1rem;
}

a.active-facets__button {
  box-shadow: 0 0 0 0.1rem rgba(26,27,24,1);
}

a.active-facets__button:hover {
  box-shadow: 0 0 0 0.2rem rgba(26,27,24,1);
}

a.active-facets__button--light {
  box-shadow: 0 0 0 0.1rem rgba(26,27,24,0.2);
}

a.active-facets__button--light:hover {
  box-shadow: 0 0 0 0.2rem rgba(26,27,24,0.4);
}

a.active-facets__button:focus-visible,
a.active-facets__button:focus {
  box-shadow: 0 0 0 0.1rem rgba(26,27,24,0.2),0 0 0 0.2rem rgba(26,27,24,1), 0 0 0 0.4rem rgba(26,27,24,1);
  outline: none;
}

.active-facets__button svg {
  width: 10px;
  height: 10px;
  margin-left: 5px;
  pointer-events: none;
}
.active-facets__button.disabled,
.mobile-facets__clear.disabled {
  pointer-events: none;
}

@media all and (min-width: 801px) {
  .active-facets-mobile {
    display: none;
  }
}
.mobile-facets__wrapper .count-bubble,
.layout-sidebar .count-bubble {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 50%;
  background-color: #ddd;
  color: #000;
  margin-left: 0.7rem;
}

.mobile-facets__wrapper .count-bubble:empty,
.layout-sidebar .count-bubble:empty {
  visibility: hidden;
  display: none;
}
.mobile-facets__wrapper .count-bubble--dot:empty
.layout-sidebar .count-bubble--dot:empty {
  visibility: visible;
}

.mobile-facets__wrapper .count-bubble--dot::before,
.layout-sidebar .count-bubble--dot::before {
  content: '';
  width: 0.2rem;
  height: 0.2rem;
  display: block;
  background-color: #fff;
  border-radius: 50%;
}
.facets__list.facets__list-color .facet-checkbox > svg { 
  color: #fff;
  left: 3px!important;
  top: 50% !important;
  transform: translateY(-50%) !important;
}
@media screen and (max-width: 800px){
	.facets__list.facets__list-color .facet-checkbox{
    padding-left: 30px;
  }
}
.collections-filter__color{
  position: absolute;
  top: 50%;
  left: 0%;    
  transform: translateY(-50%);    
  display: block;
  width: 20px;
  height: 20px;
  z-index: 4;
  border-radius: 100%;  
}
.collections-filter__color::before{
  content: '';
  position: absolute;
  top: -3px;
  left: -3px;
  bottom: -3px;
  right: -3px;
  border: 1px solid #cecece;
  border-radius: 100%;
}
.collections-filter__color[style="background: #ffffff;"]{
  box-shadow: 0 0 0 1px rgb(0 0 0 / 10%) inset;
}
.facets__list.facets__list-color input[value="White"] + svg + svg{ 
  color: #000;
}

.mobile-facets {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: rgba(26,27,24,0.5);
  pointer-events: none;
}
.mobile-facets__wrapper {
  margin-left: 0;    
}
@media screen and (max-width: 800px){
	.mobile-facets__wrapper {
    position: fixed;
    right: 10px;
    left: auto;
    top: auto;
    bottom: 28.5vh;    
    z-index: 99999;
  }
}
.mobile-facets__wrapper .disclosure-has-popup[open] > summary::before {
  height: 100vh;
}
@media screen and (min-width: 801px) {
  .mobile-facets {
    display: none;
  }
}
.mobile-facets__inner {
  background-color: #fff;
  width: calc(100% - 5rem);
  margin-left: auto;
  height: 100%;  
  pointer-events: all;
  overflow-y: auto;
  overflow-x: hidden;
}
@media screen and (max-width: 550px){
	.mobile-facets__inner {
    width: 100%;
  }
}
.mobile-facets__header {
  background-color: #fff;
  border-bottom: 0.1rem solid rgba(26,27,24,0.2);
  padding: 1rem 2.5rem;
  text-align: center;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 2;
}
.mobile-facets__header-inner {
  flex-grow: 1;
  position: relative;
}
.mobile-facets__info {
  padding: 0 20px;
  font-size: 14px;
  margin-bottom: 0;
}
@media screen and (max-width: 800px){
  .mobile-facets__info {
    padding: 0 30px;
  }
}
@media screen and (max-width: 550px){
  .mobile-facets__info {
    padding: 0 20px;
  }
}
.mobile-facets__heading {
  font-size: 14px;
  margin: 0;
}
.mobile-facets__count {
  color: rgba(26,27,24,0.7);
  font-size: 13px;
  margin: 0;
  flex-grow: 1;
}
.mobile-facets__open {
  text-align: center;
  width: 100%;
  padding: 0;
}
.mobile-facets__open svg {
  width: 50px;
  height: 50px;
}
.mobile-facets__open line,
.mobile-facets__open circle {
  stroke: #445958;
}
details[open] .mobile-facets__open {
  visibility: hidden;
}
.mobile-facets__close {
  width: 4.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobile-facets__close svg {  
  width: 20px;
  height: 20px;
  color: #000;
  position: absolute !important;
  left: 50% !important;
  top: 50% !important;
  transform: translate(-50%, -50%) !important;
}
.mobile-facets__close--no-js {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0.7rem;
  right: 1rem;
  width: 4.4rem;
  height: 4.4rem;
  z-index: 101;
}
details[open] .mobile-facets__close--no-js {
  display: flex;
}
details[open] .mobile-facets__close--no-js svg {
  margin: 0;
}
.mobile-facets__close-button {  
  padding: 10px 0;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 14px;
  width: calc(100% - 60px);
  background-color: transparent; 
  margin: 20px auto 20px; 
  border: 0;
}

@media screen and (min-width: 801px){
  .accordion-title .count-bubble{
    display: none !important;
  }
}
@media screen and (max-width: 800px){
  .mobile-facets__close-button {  
    width: calc(100% - 60px);
  }
  .mobile-facets__open .count-bubble{
    display: none !important;
  }
}
@media screen and (max-width: 550px){
  .mobile-facets__close-button {  
    width: calc(100% - 40px);
  }
}
.no-js .mobile-facets__close-button {
  display: none;
}

.mobile-facets__close-button .icon-arrow {
  transform: rotate(180deg);
  margin-right: 1rem;
  color: #333;
  visibility: visible;
  width: 15px;
  height: 15px;
  position: inherit;
}

.mobile-facets__main {
  min-height: calc(100% - 15rem);
  padding: 2.7rem 0 0;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 550px){
	.mobile-facets__main {
    padding-top: 20px;
  }
}
.mobile-facets__details[open] .icon-caret {
  transform: rotate(180deg);
}

.no-js .mobile-facets__details {
  border-bottom: 1px solid rgba(26,27,24,0.04);
}

.mobile-facets__highlight {
  opacity: 0;
  visibility: hidden;
}

.mobile-facets__checkbox:checked + .mobile-facets__highlight {
  visibility: visible;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  background-color: rgba(26,27,24,0.04);
}

.mobile-facets__summary {
  padding: 1.3rem 2.5rem;
  font-size: 14px;
}

.mobile-facets__summary svg {
  width: 15px;
  height: 15px;
  margin-left: auto;
  position: initial;
  color: rgba(26,27,24,0.75);
  fill: rgba(26,27,24,0.75);
}

.mobile-facets__summary > div,
.facets__summary > div {
  display: flex;
  align-items: center;
}

.js .mobile-facets__submenu {
  position: absolute;
  top: 0;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #fff;
  border: 0.1rem solid rgba(26,27,24,0.2);
  border-top: none;
  border-bottom: none;
  z-index: 3;
  transform: translateX(100%);
  visibility: hidden;
}

.js details[open] > .mobile-facets__submenu {
  transition: transform 0.4s cubic-bezier(0.29, 0.63, 0.44, 1),
    visibility 0.4s cubic-bezier(0.29, 0.63, 0.44, 1);
}

.js details[open].menu-opening > .mobile-facets__submenu {
  transform: translateX(0);
  visibility: visible;
}

.js .menu-drawer__submenu .mobile-facets__submenu {
  overflow-y: auto;
}

.mobile-facets__item {
  position: relative;
}

input.mobile-facets__checkbox {
  position: absolute;
  width: 1.6rem;
  height: 1.6rem;
  position: absolute;
  left: 4.1rem;
  top: 1.2rem;
  z-index: 0;
  appearance: none;
  -webkit-appearance: none;
}

.mobile-facets__label {
  padding: 1.5rem 0 1.5rem 4.5rem;
  width: 100%;
  background-color: #fff;
  transition: background-color 0.2s ease;
  word-break: break-word;
  display: flex;
}

.mobile-facets__label > svg {
  background-color: #fff;
  position: relative;
  z-index: 2;
  margin-right: 1.2rem;
  flex-shrink: 0;
  width: 15px;
  height: 15px;
}

.mobile-facets__label .icon-checkmark {
  position: absolute;  
  visibility: hidden;
  width: 12px;
  height: 12px;
  color: #333;
  background-color: transparent;  
  top: 47%;
  left: 3.2rem;
  transform: translateY(-50%);  
}

.mobile-facets__label > input[type='checkbox']:checked ~ .icon-checkmark {
  visibility: visible;
}

.mobile-facets__arrow,
.mobile-facets__summary .icon-caret {
  margin-left: auto;
  display: block;
}

.mobile-facets__label--disabled {
  opacity: 0.5;
}

.mobile-facets__footer {
  background-color: #fff;
  border-top: 0.1rem solid rgba(26,27,24,0.2);
  padding: 2rem;
  bottom: 0;
  position: sticky;
  display: flex;
  z-index: 2;
  column-gap: 20px;
}
@media screen and (max-width: 550px){
  .mobile-facets__footer {
    padding: 20px;
  }	
}
.mobile-facets__footer > * + * {
  margin-left: 1rem;
}

.mobile-facets__footer > * {
  width: 50%;
}

.mobile-facets__footer noscript .button {
  width: 100%;
}

.sorting .button {
  margin-top: 2.4rem;
  padding-top: 1.3rem;
}

.mobile-facets__sort {
  display: flex;
  justify-content: space-between;
}

.mobile-facets__sort label {
  flex-shrink: 0;
  font-weight: 500;
}

.mobile-facets__sort .select {
  width: auto;
}

.no-js .mobile-facets__sort .select {
  position: relative;
  right: -1rem;
}

.mobile-facets__sort .select .icon-caret {
  right: 0;
  display: none;
}

.mobile-facets__sort .select__select:hover,
.mobile-facets__sort .select__select:focus,
.mobile-facets__sort .select__select {
  box-shadow: none;
  border: none;
  padding-right: 20px;
}

@media screen and (min-width: 801px){
  .large-up-hide {
    display: none!important;
  }
}
#collection .collection-toolbar{
  float: none !important;
  width: auto !important;
  background-color: transparent;
  border: 0;  
}
@media screen and (max-width: 800px){  
  #collection .collection-toolbar {
      padding-left: 0;
  }
}
@media screen and (min-width: 1200px){   
  #collection .collection-toolbar{
    margin-left: -15px;
    margin-right: -15px;  
    padding: 20px 10px 5px;    
    background: #fff !important;
    border: 1px solid #e5e5e5 !important;
  }
}
.collection-hero__title{
  font-size: 52px;
}

.collection-filters__field .select,
.facets__summary {
  position: relative !important;
}

.collection-filters__field .select svg,
.facets__summary svg{
  position: absolute !important;
  top: 50% !important;
  right: 10px !important;
  transform: translateY(-50%) !important;
  color: #333;
  
}

#sandBox{
  display: block !important;
  position: initial !important;
}

#sandBox #main-collection-product-grid{
  display: flex;
  flex-wrap: wrap;  
  justify-content: flex-start;     
  
}
#sandBox #main-collection-product-grid > div{
  position: initial !important;
}
#CollectionProductGrid{
  margin-left: 0 !important;  
}
@media screen and (min-width: 1200px){
  #CollectionProductGrid{
    padding-left: 0 !important;
  	padding-right: 0 !important;
  }  
}
@media screen and (max-width: 800px){
  #collection .collection-toolbar{
    padding-left: 0 !important;
  }  
}

@media screen and (max-width: 800px){
  .facets.small-hide{
    display: none !important;
  }
}
.shopify-challenge__button {
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font: inherit;
  padding: .9rem 3rem 1.1rem;
  text-decoration: none;
  border: 0;
  border-radius: 0;
  background-color: #fff;
  box-shadow: 0 0 0 .1rem #445958;
  color: #445958;
  min-width: 0;
  min-height: 0;    
  -webkit-appearance: none;
  appearance: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;    
  font-size: 14px;
  padding-left: 5px;
  padding-right: 5px;
}
.mobile-facets__footer .button--primary:focus,
.mobile-facets__footer .button--primary:hover,
.mobile-facets__footer .mobile-facets__clear{
  background-color: #fff;
  box-shadow: 0 0 0 .1rem #445958;
  color: #445958;
}
.mobile-facets__footer .mobile-facets__clear:focus,
.mobile-facets__footer .mobile-facets__clear:hover,
.mobile-facets__footer .button--primary{
   background-color: #445958;
  box-shadow: 0 0 0 .1rem #445958;
  color: #fff;
}

.mobile-facets__open{
  padding: 0 20px;
  font-size: 14px;
}
.mobile-facets__open circle, .mobile-facets__open line{
  stroke: #445958;
}
.disclosure-has-popup .mobile-facets__open.button svg {
  position: initial;  
}

.disclosure-has-popup[open]>summary::before{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: block;
  cursor: default;
  content: ' ';
  background: 0 0;
}
.disclosure-has-popup[open]>summary+* {
    z-index: 9999;
}

.mobile-facets__submenu .field .field__input{
  height: 30px;
  line-height: 28px;
  padding: 0 0 0 15px;
  margin-bottom: 0;
  box-shadow: none;
  font-size: 12px;
}
/**/
body .sidebar-content#tags-filter-content .facets__disclosure{
  height: auto !important;
  line-height: 1.5em;
  position: initial;
  width: 100% !important;
  margin-left: 0 !important;
}
body .sidebar-content#tags-filter-content .facets__display {    
    position: initial;        
    width: 100%;
    max-height: initial;
    overflow-y: initial;   	
}
body .sidebar-content#tags-filter-content .facets__wrapper,
body .sidebar-content#tags-filter-content .facets__form{
  display: block !important;
  margin-left: 0 !important;
}

body .sidebar-content#tags-filter-content .facets__header{
  position: initial;
  padding: 5px 16px 5px 0;
  font-size: 12px;
}
body .sidebar-content#tags-filter-content .facets__list{
  padding-left: 15px;
  padding-right: 15px;
}
body .sidebar-content#tags-filter-content .collection-filters__field .select, 
body .sidebar-content#tags-filter-content .facets__summary{
  position: initial !important;
  height: auto !important;
  padding-left: 0;
  padding-right: 0;
  font-size: 14px;
}
body .sidebar-content#tags-filter-content .collection-filters__field .select svg, 
body .sidebar-content#tags-filter-content .facets__summary svg{
  display: none !important;
}

body .sidebar-content#tags-filter-content .collection-filters__item{
  display: block !important;
}
body .sidebar-content#tags-filter-content .field .field__input{
  height: 30px;
  box-shadow: none;
}
body .sidebar-content#tags-filter-content .facets__price{
  display: block !important;
  padding-left: 15px;
  padding-right: 15px;
}
body .sidebar-content#tags-filter-content .facets__price>*+*{
  margin-left: 0 !important;
  margin-top: 10px !important;
}
body .sidebar-content#tags-filter-content .facet-checkbox{
  font-size: 12px;
  white-space: nowrap;
  padding-left: 30px;
}
body .sidebar-content#tags-filter-content .collection-filters__sort {
  font-size: 12px;
  height: 36px;
  line-height: 34px;
}

.collection-leftsidebar.sidebar + .collection-mainarea .collection_toolbar{
  display: none !important;
}
.collection-filters #CollectionProductGrid,
.collection-filters #main-collection-product-grid {
  width: 100%;
}
@media screen and (max-width: 800px){
	.collection-filters #CollectionProductGrid{
    margin-top: 5px;
  }
}
.collection-filters .facet-checkbox .icon-checkmark {
  fill: #333;
}
.collection-filters .collection-bottom-toolbar .product-counter{
  display: block !important;
}
.collection-filters .collection-bottom-toolbar{
  margin-top: 30px;
  background-color: #fff;
  padding: 10px;
  float: none;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;  
}
.collection-filters .collection-bottom-toolbar .pagination_group{
  margin-top: 0;  
  padding-left: 0;
  padding-right: 0;  
  margin-bottom: 0 !important;
}
.collection-filters .collection-bottom-toolbar .product-pagination,
.collection-filters .collection-bottom-toolbar .product-counter{
  width: 50% !important;
}
@media screen and (max-width: 800px){
  body #collection #main-collection-product-grid{
    display: flex;
    flex-wrap: wrap;    
    justify-content: center;      
  }  
  body .sidebar-content#tags-filter-content .facets__form{    
    padding: 15px 20px;
  }
}
@media screen and (max-width: 425px){
   body .sidebar-content#tags-filter-content .facets__form{    
    padding: 15px 15px;
  }  
  .collection-filters .collection-bottom-toolbar .product-counter, 
  .collection-filters .collection-bottom-toolbar .product-pagination{
    width: 100% !important;
  }  
  .collection-filters .collection-bottom-toolbar .product-counter{
    text-align: center;
  }
  
  .collection-filters .collection-bottom-toolbar .pagination_group .pagination{
     justify-content: center;
  }
  .collection-filters .collection-bottom-toolbar .product-counter{
    padding-right: 0;
  }
}

body .sidebar .filter-block .sidebar-title{
  margin-bottom:0 !important;
}
.filter-block .js-filter{
  margin-bottom: 10px !important;
}
.collection-filters__item.sorting{
  margin-top:15px;
}


#shopify-section-collection-template .collection-sort-desktop .facets__form,
#shopify-section-collection-template .collection-sort-desktop{
	display: block !important;
}
body .sidebar-content#tags-filter-content .facets__form, 
body .sidebar-content#tags-filter-content .facets__wrapper .accordion-item{
  border: 0;
  padding: 0; 
}
body .sidebar-content#tags-filter-content .facets__wrapper .accordion-item{
  margin-bottom: 30px;
}
.layout-left-sidebar .layout-sidebar {
  margin-top: 17px !important;
}
.layout-left-sidebar .accordion-title{
  display: flex;
  flex-wrap: wrap;
  align-items: center;  
  justify-content: flex-start;  
  width: calc(100% - 16px);
}
.layout-left-sidebar .accordion-title:before{
  margin-top: 0;
  transform: translateY(-50%);
}
a.active-facets__button{
  font-size: 12px;  
  outline: none !important;
  box-shadow: 0 0 0 0.05rem #1a1b18 !important;
  display: block;
  padding: 0;
  overflow: hidden;
}
a.active-facets__button .active-facets__button-inner{
  margin-bottom: 0;
  box-shadow: none;
  padding: 3px 10px;
  font-size: 10px;
  line-height: 16px;
  background-color: transparent;
  color: #333;
}
a.active-facets__button .active-facets__button-inner svg path{
  stroke: #333;
}
a.active-facets__button:focus,
a.active-facets__button:hover{
  outline: none !important;
  box-shadow: 0 0 0 0.05rem var(--color_primary) !important;
}
a.active-facets__button .active-facets__button-inner:focus,
a.active-facets__button .active-facets__button-inner:hover{
  background-color: #fff;
  color: var(--color_primary);
}
a.active-facets__button .active-facets__button-inner:focus svg path,
a.active-facets__button .active-facets__button-inner:hover svg path{
  stroke: var(--color_primary);
}
.layout-left-sidebar .sidebar-content#tags-filter-content .facets__price{
  padding-left: 0;
  padding-right: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.layout-left-sidebar .sidebar-content#tags-filter-content  .facets__price .field__label{
  top: 50%;
  transform: translateY(-50%);
  font-size: 12px;
}
.layout-left-sidebar .sidebar-content#tags-filter-content .field .field__input{
  margin-bottom: 0;
  font-size: 12px;
}
.layout-left-sidebar .customer .field input:-webkit-autofill~label, 
.layout-left-sidebar .customer .field input:focus~label, 
.layout-left-sidebar .customer .field input:not(:placeholder-shown)~label, 
.layout-left-sidebar .field__input:-webkit-autofill~.field__label, 
.layout-left-sidebar .field__input:focus~.field__label, 
.layout-left-sidebar .field__input:not(:placeholder-shown)~.field__label{
  font-size: 10px;
  top: 8px !important;
}
.layout-left-sidebar .sidebar-content#tags-filter-content .facets__list{
  padding-left: 0;
  padding-right: 16px;
  margin-left: 0;
}
.layout-left-sidebar .sidebar-content#tags-filter-content .facets__wrapper{
  margin-bottom: 0 !important;
}
.layout-left-sidebar .sidebar-content#tags-filter-content .facets__wrapper .accordion-item:last-child{
  margin-bottom: 0 !important;
}
.layout-left-sidebar .sidebar-content#tags-filter-content .facets__wrapper .accordion-item:last-child .facets__list{
  padding-bottom: 0 !important;
}
.facets__list {
  padding: 0 30px;
  margin-left: 0;
  display: flex;
  flex-wrap: wrap;  
  justify-content: flex-start;  
}
@media screen and (max-width: 800px){
	.facets__list {
    padding: 0 30px;
  }
}
@media screen and (max-width: 550px){
	.facets__list {
    padding: 0 20px;
  }
}
.facets__item {
  width: 50%;
}
@media screen and (min-width: 801px) and (max-width: 1024px){
  .facets__item {
    width: 100%;
  }
}
@media screen and (max-width: 425px){
  .facets__item {
    width: 100%;
  }
}
.footer-style1 .footer-newsletter-wrap button {
  width: auto!important;
  padding: 0 !important;
  min-width: 140px;
  min-height: 0;
}
.search-box-desktop-form .input-group-button .button{  
  padding: 0;
  min-width: 0;
  min-height: 0;
  border: 0;
  box-shadow: none;
}
.collection-category-list li.is-accordion-submenu-item>a, .collection-category-list li>a{
  font-size: 12px;
}
.collection-sort-desktop-dropdown-panel{
  min-width: 220px;
}
.collection-sort-desktop-dropdown-panel > li:hover label{
  color: var(--color_primary);
}
.collection-result-pagination .collection-pagination{
  margin: 0 auto;
}
.template-collection .mobile-facets__open{
  min-width: 0;
  min-height: 0;
  height: 40px;
  line-height: 40px;
  width: 40px;
  max-width: 40px;
  border-radius: 100%;  
  text-transform: uppercase;
  padding: 0 5px;
  font-size: 10px;
  box-sizing: border-box;
  background-color: var(--color_primary);
  color: #fff;
  box-shadow: 0px 2px 5px var(--color_primary);
  list-style: none !important;
}
.template-collection .mobile-facets__open > span{
  transition: all 0.35s;
}
.template-collection .mobile-facets__open:hover{
  box-shadow: 0px 2px 5px #ddd;
  background-color: #fff;
}
.template-collection .mobile-facets__open:hover > span{
  color: #000;
}
.template-collection .mobile-facets__sort .select{
  width: auto;
  padding: 0;
}
.template-collection .mobile-facets__sort .select__select{
  margin-bottom: 0 !important;
  padding-left: 15px;
  padding-right: 25px;
  font-size: 14px;
}
.template-collection .mobile-facets__footer .button--primary{
  padding: 0 20px;
  min-height: 0;
  min-width: 0;
  margin-bottom: 0 !important;
  height: 40px;
  line-height: 40px;
  margin: 0;
}
.template-collection .mobile-facets__clear{
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  display: block;
  text-align: center;
}
.template-collection .mobile-facets__summary{
  padding: 10px 30px;  
}
@media screen and (max-width: 550px){
  .template-collection .mobile-facets__summary{
    padding: 10px 20px;     
  }
}
.template-collection .mobile-facets__close--no-js{
  z-index: 100000;
  cursor: pointer;
  top: 0;
  right: 0;
}
.template-collection .mobile-facets{
  z-index: 99999;
}
@media screen and (max-width: 800px){
  .facets__price>*+*{
    margin-left: 0px;
  }
  summary{
    list-style: none !important;
  }
  .template-collection .collection-main-container .collection-section-content-inner, 
  .template-collection .collection-main-container .layout-sidebar-content-inner{
    max-height: calc(100vh - 200px);
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio:0){
  .template-collection summary{
    list-style: none !important;
  }
}
@media screen and (max-width: 550px){
  .template-collection .collection-main-container .collection-section-content-inner, 
  .template-collection .collection-main-container .layout-sidebar-content-inner{    
    padding-left: 20px;
    padding-right: 20px;
  }
}
/*loading*/
.collection-product-list.loading .loading-overlay,
.collection-product-list .loading-overlay {
  display: none !important;
}
.collection-product-list{
  transition: all 0.35s;
}
.collection-product-list.loading{
  opacity: 0.5;
}

/*Chrome*/
/*facets__price-range*/
.facets__price-field{
  display: flex;
  flex-wrap: nowrap;
  align-items: center; 
  justify-content: space-between; 
  column-gap: 10px;
}

.facets__price-field .facets__price-to{
  font-size: 12px;
}
price-range .facets__price-range{
  position: relative;
  padding-top: 35px;
}
input[type="range"] {
  position: absolute;
  left: 0;
  top: 8px;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 0px;
  background: #333;
  outline: none; 
  -webkit-transition: .2s;
  transition: opacity .2s;
}
/**/
input[type=range]:focus {
  outline: 0
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #333
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: #333;
  border-radius: 1px;
  box-shadow: none;
  border: 0
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: #333;
  border-radius: 1px;
  box-shadow: none;
  border: 0;
  position: relative;
  z-index: 1
}
input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: 0 0;
  border-color: transparent;
  color: transparent;
  position: relative;
  z-index: 1
}
input[type=range]:focus::-ms-fill-upper {
  background: #333;
}
input[type=range]::-ms-fill-upper {
  background: #333;
}
input[type=range]::-ms-fill-lower,input[type=range]::-ms-fill-upper {  
  border-radius: 1px;
  box-shadow: none;
  border: 0
}
input[type=range]::-webkit-slider-thumb {
  z-index: 2;
  position: relative;
  box-shadow: 0 0 0 #000;
  border: 1px solid #333;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #333;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px
}
input[type=range]::-moz-range-thumb {
  z-index: 10;
  position: relative;
  box-shadow: 0 0 0 #000;
  border: 1px solid #333;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #333;
  cursor: pointer
}
input[type=range]::-webkit-slider-thumb {
  z-index: 2;
  position: relative;
  box-shadow: 0 0 0 #000;
  border: 1px solid #333;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #333;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px
}
input[type=range]::-moz-range-thumb {
  z-index: 10;
  position: relative;
  box-shadow: 0 0 0 #000;
  border: 1px solid #333;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #333;
  cursor: pointer
}
input[type=range]::-ms-thumb {
  z-index: 2;
  position: relative;
  box-shadow: 0 0 0 #000;
  border: 1px solid #333;
  height: 18px;
  width: 18px;
  border-radius: 100%;
  background: #333;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #333 !important;
}
input[type="range"]::-ms-fill-lower{
  background-color: #333 !important; 
}
@-moz-document url-prefix() {
  input[type=range] {
      pointer-events: none
  }
  input[type=range]::-moz-range-thumb {
      z-index: 10;
      pointer-events: all
  }
}
/*End facets__price-range*/
/*dir="ltr"*/
html[dir="rtl"] .collection-section-content,
html[dir="rtl"] .collection-main-container .layout-sidebar-content {
  padding-right: 20px !important;
  padding-left: 4px !important; 
}
html[dir="rtl"] body .sidebar-content#tags-filter-content .facets__header{
  padding-left: 16px !important;
  padding-right: 0px !important;
}
html[dir="rtl"] .facets__header .facets__selected .row2{
  float: right !important;
}
html[dir="rtl"] .facets__price .field .field__currency{
  margin-left: .6rem !important;
  margin-right: 0 !important;
}
html[dir="rtl"] .layout-left-sidebar .sidebar-content#tags-filter-content .facets__price {
  padding-right: 0 !important;
  padding-left: 16px !important; 
}
html[dir="rtl"] .layout-left-sidebar .sidebar-content#tags-filter-content .facets__list{  
  padding-left: 16px !important;
  padding-right: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;  
}
html[dir="rtl"] body .sidebar-content#tags-filter-content .facet-checkbox{
  padding-right: 30px !important;
  padding-left: 0 !important;
}
html[dir="rtl"] .facet-checkbox input[type=checkbox], 
html[dir="rtl"] .facet-checkbox svg{
  right: 0 !important;
  left: auto !important;
  margin-right: 0 !important;
}
html[dir="rtl"] .collections-filter__color{
  right: 0;
  left: auto;
}
html[dir="rtl"] .mobile-facets__arrow, 
html[dir="rtl"] .mobile-facets__summary .icon-caret{
  margin-right: auto !important;
  margin-left: 0 !important;
}
html[dir="rtl"] .mobile-facets__close-button .icon-arrow{
  margin-right: 0 !important;
  margin-left: 1rem !important;
}
@media screen and (max-width: 800px){
  html[dir="rtl"] .facets__price .field .field-currency {
    margin-right: 0px !important;    
    margin-left: 10px !important;
  }
  html[dir="rtl"] .facets__list.facets__list-color .facet-checkbox {
    padding-left: 0 !important;
    padding-right: 30px !important;
  }
  html[dir="rtl"] .facets__list{
    margin-right: 0 !important;
  } 
  html[dir="rtl"] .facet-checkbox {
    padding: 0 25px 0 15px !important;
  }
}
/*end dir="ltr"*/
.settings-bar-layout,
.disclosure-has-popup{
  list-style: none !important;
}
@media screen and (-webkit-min-device-pixel-ratio:0){
  @media screen and (max-width: 800px){
    .template-collection  .settings-bar-layout{
      display: none !important;
    }
  }  
}
@media screen and (max-width: 800px){
  .template-collection  .settings-bar-layout{
    display: none !important;
  }
}

